extends ../layout/main

block variables
	- var title = 'Дерево Мастер'

block content
	include ../section/features
	include ../section/materials
	include ../section/production
	include ../section/comfort
	include ../section/order
	include ../section/portfolio
	include ../section/contacts