.header
  overflow-x hidden
  @media (max-width breakpoint-sm)
    text-align center

.header__wrap
  position relative
  max-width 1445px
  width 100%
  margin 0 auto
  padding-top 55px
  display flex
  flex-direction column
  justify-content space-between
  height 100vh
  min-height 650px
  @media (max-width breakpoint-xxl)
    padding 0 20px
  @media (max-width breakpoint-xl)
    padding 20px
  @media (max-width breakpoint-md)
    height auto
    min-height: auto

.header__dots
  position absolute
  right 0
  top 200px
  @media (max-width breakpoint-md)
    display none

.header__menu
  position relative
  display flex
  align-items baseline
  justify-content flex-end
  z-index 10
  @media (max-width breakpoint-lg)
    flex-wrap wrap
  @media (max-width breakpoint-md)
    justify-content space-between
    align-items center
    margin-bottom 40px

.header__logo
  position absolute
  left 0
  top 35px
  .mobile
    display none
  @media (max-width breakpoint-xl)
    top 10px
  @media (max-width breakpoint-lg)
    max-width 150px
  @media (max-width breakpoint-md)
    position relative
    top 0
    max-width 100px
    .desktop
      display none
    .mobile
      display block

.header__menu-block
  margin-right 125px
  @media (max-width breakpoint-xl)
    margin-right 0
  @media (max-width breakpoint-lg)
    width 100%
  @media (max-width breakpoint-md)
    position fixed
    bottom 0
    left 0
    right 0
    top 0
    transform translateY(-100%)
    opacity 0
    visibility hidden
    transition all .2s
    background-color white
    &.active
      opacity 1
      visibility visible
      transform translateY(0)

.header__mobile-block
  display none
  align-items center
  z-index 100
  &.active
    .header__phone
      display none
  .header__phone
    margin-bottom 0
    font-size 18px
  @media (max-width breakpoint-md)
    display flex

.header__mobile-burger
  width = 36px
  height = 2px
  translate = 10px
  bg = black

  cursor pointer
  display flex
  flex-direction column
  margin-left 10px
  &::before,&::after,span
    content ""
    display block
    width width
    height height
    background bg
  &::before
    margin-bottom translate
  &::after
    margin-top translate
  &.active
    span
      opacity 0
    &::before 
      margin-bottom 0
      transform translateY(2px) rotate(45deg)
    &::after 
      margin-top 0
      transform translateY(-2px)  rotate(-45deg)

.header__contacts
  max-width 230px
  text-align right
  @media (max-width breakpoint-lg)
    padding-right 10px
  @media (max-width breakpoint-md)
    display none

.header__phone
  color black
  font-family font-ibm
  font-size 29px
  margin-bottom 15px
  display block
  transition all .2s
  &:hover
    opacity 0.8

.header__address
  color dusty-gray
  font-size 17px
  line-height 20.83px

.header__slider
  position relative
  z-index 5

.header__slider-arrows
  position absolute
  width 100vw
  left calc(50% - 50vw)
  top 50%
  z-index 10
  @media (max-width breakpoint-md)
    top 80%

.header__slider-arrow
  position absolute
  transform translateY(-50%)
  cursor pointer
  &.prev
    left 30px
    transform translateY(-50%) rotate(180deg)
  &.next
    right 30px
  .icon
    width 27px
    height 44px

.header__slider-list
  .slick-list
    overflow visible
    left calc(50% - 50vw)

.header__slider-item
  position relative
  padding-bottom 110px
  width 100vw

.header__slider-img
  position absolute
  width 100vw
  bottom 0
  left calc(50% - 50vw)
  z-index -1

.header__slider-wrap
  max-width 1445px
  width 100%
  margin 0 auto
  margin-left auto
  @media (max-width breakpoint-md)
    padding 0 20px

.header__slider-title
  width 100%
  max-width 900px
  margin-left auto
  color black
  font-family font-ibm
  font-size 75px
  font-weight bold
  letter-spacing 1.13px
  max-width 770px
  margin-bottom 75px
  @media (max-width breakpoint-xl)
    font-size 48px
  @media (max-width breakpoint-md)
    font-size 34px
    margin-bottom 30px
  @media (max-width breakpoint-sm)
    margin-bottom 10px

.header__slider-info
  padding-left 190px
  width 100%
  max-width 900px
  margin-left auto
  @media (max-width breakpoint-xl)
    max-width 800px
  @media (max-width breakpoint-md)
    max-width 100%
    padding-left 0

.header__slider-descr
  position relative
  padding-left 40px
  max-width 519px
  color black
  font-family font-ibm
  font-size 29px
  line-height 37.5px
  margin-bottom 60px
  display block
  &:before
    content ''
    display block
    width 19px
    height 19px
    background-color black
    position absolute
    top 0
    left 0
  @media (max-width breakpoint-xl)
    font-size 18px
    line-height 24px
    margin-bottom 30px
  @media (max-width breakpoint-md)
    max-width 100%
    padding-left 0
    &:before
      display none
  @media (max-width breakpoint-sm)
    margin-bottom 10px

.header__slider-actions
  padding-left 40px
  display flex
  align-items center
  @media (max-width breakpoint-md)
    padding-left 0
    max-width 40%
    margin-left auto
    flex-direction column
    align-items flex-start
  @media (max-width breakpoint-sm)
      max-width 100%

.header__slider-btn
  width 291px
  height 64px
  background-color black
  color white
  font-family font-ibm
  font-size 25px
  display flex
  align-items center
  justify-content center
  transition all .2s
  margin-right 40px
  flex none
  &:hover
    opacity 0.8
  @media (max-width breakpoint-xl)
    width 150px
    height 50px
    font-size 18px
    margin-right 20px
  @media (max-width breakpoint-md)
    margin-right 0
    margin-bottom 20px
  @media (max-width breakpoint-sm)
    margin 0 auto 10px

.header__slider-info-icon
  margin-right 20px
  @media (max-width breakpoint-md)
    display none

.header__slider-info-text
  color black
  font-size 13px
  line-height 18.75px
  text-transform uppercase
  max-width 285px